body{
    margin: 0px; 
    background-color: #e8ded2;
    width:100%;
    overflow-x: hidden;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-nav a{
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    
}

.navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    letter-spacing: 2px;
    
}

.navbar-nav {
    text-align: center;
    border-color: white;
}

.custom-toggler{
    background-color: white;
    border-color: transparent;
    border-width: 4px;
}

.bg-dark {
    background-color: #5eaaa8!important;
}

.div-main{
    margin-top: 100px;
    background-color: #a3d2ca;
}

.fas-style {
    font-size: 70px;
    color: #056676;
}

.div-icon{
    text-align: center;
}

.vl{
    border-left: 4px solid #056676;
    height: 50px;
    position: relative;
    left: 50%;
}
.particle-style{
    position: absolute;
}