body{
    margin: 0px; 
    background-color: #e8ded2;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-nav a{
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    
}

.navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    letter-spacing: 2px;
    
}

.navbar-nav {
    text-align: center;
    border-color: white;
}

.custom-toggler{
    background-color: white;
    border-color: transparent;
    border-width: 4px;
}

.bg-dark {
    background-color: #5eaaa8!important;
}

.div-main{
    margin-top: 100px;
    background-color: #a3d2ca;
}

.fas-style {
    font-size: 70px;
    padding-bottom: 3px;
    color: #056676;
}

.div-icon{
    text-align: center;
}

.vl{
    border-left: 4px solid #056676;
    height: 30px;
    position: absolute;
    left: 50%;
    margin: 0px;
}
.particle-style{
    position: absolute;
    height: 100%;
    width: 100%;
}

.hr-style{
    
    height: 3px;
    background: #056676;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 30px;
    position: relative;
}

.hr-style1{
    
    height: 3px;
    background: #056676;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
    position: relative;
}

.div-style-1{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}
.responsive-text{
    text-align: center;
}
@media screen and (min-width: 801px) {
   .responsive-text{
    font-size: 25px;
  }
}

@media screen and (max-width: 800px) {
   .responsive-text{
    font-size: 20px;
  }
}

.Justify{
    text-align:justify;
    /*color: #056676;*/
    color:black;
    
}